.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (max-width: 768px) {
  .wrapper {
    gap: 10px;
  }
}

@media (max-width: 430px) {
  .wrapper {
    white-space: nowrap;
  }
}

.username {
  font-weight: 700;
  font-size: 18px;
}

@media (max-width: 768px) {
  .username {
    font-size: 16px;
  }
}

.btn {
  padding: 4px 8px;
  border: 1px solid grey;
  width: 100px;
  border-radius: 2px;
  align-self: center;
  cursor: pointer;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(130, 130, 250);
  transition: transform 0.3s ease;
}

@media (max-width: 430px) {
  .btn {
    width: 60px;
    padding: 2px 2px;
  }
}

.btn:hover,
.btn:focus {
  background-color: rgb(80, 68, 241);
  transform: scale(1.05);
}